* {
	text-align: center;
	background-color: blue;
	font-family: helvetica;
}

h2 {
	color: red;
	font-style: italic;
}

h3 {
	color: green;
}

h4 {
	float: center;
	text-align: center;
	color: white;
	border-top: 2px solid black;
	border-right: 2px solid black;
	border-bottom: 2px solid black;
	border-left: 2px solid black;
}

h5 {
	color: black
}
.centerphoto {
	width: 60%;
	border-radius: 20%;
	border-style: line;
	border-color: red;
	border-top: 2px solid red;
	border-bottom: 2px solid red;
	border-left: 2px solid red;
	border-right: 2px solid red;
	}
ul {
	list-style: none;
}
li {
	margin-bottom: 10px;

}
